
.container {
  font-family: sans-serif;
}

.header {
  display: flex;
margin: auto;
background-color: rgb(194, 128, 48);
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-size: larger;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: 30%;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: rgb(4, 4, 14);
}

html, body {
  min-height: 100%;
}

body {
  background: white;
  background-repeat: no-repeat;
  background-clip: border-box;
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}

.layout {
  max-width: 1200px;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

nav .links {
  display: inline-block;
  text-align: right;
}
nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}
nav a:hover {
  border-color: rgb(9, 9, 78);
}
