
/*.container {
  background-color: rgb(252, 236, 236);
  font-family: sans-serif;
}
.site-title {
  font-size: 3rem;
  color: rgb(15, 5, 5);
  font-weight: 700;
  margin: 3rem 0;
 float: right;
}
.header {
border: 2px solid black;
margin: auto;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-size: larger;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: 30%;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: rgb(4, 4, 14);
}


html, body {
  min-height: 100%;
}

body {
  background: white;
  background-repeat: no-repeat;
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}

.layout {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}

nav .links {
  display: inline-block;
  text-align: right;
}
nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}
nav a:hover {
  border-color: rgb(9, 9, 78);
}

*/